.divContainer{
    background-image: url("../../assets/nether.png");

    margin: 40px auto;
    padding: 30px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
 background-size: cover;
border-radius: 20px;
box-shadow: 2px 7px 26px -5px rgb(98, 0, 255);
width: 800px;

}
.pageContainer {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    height: 85vh; /* Establece la altura del contenedor al 100% de la altura de la ventana */
  }

.mainContainer {
    display: flex;
    flex-direction: row;
}

.coords {
    display: flex;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
}

.world {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.customTextField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: white;
  }

  .customTextField .MuiInputLabel-outlined.MuiInputLabel-shrink {
    color: white;
  }  
  